<div>
    <h1>This is the Tool edit page</h1>

    <form action="/{{newToolId}}?_method=PATCH" method="POST">
        <input type="text" name="toolName" placeholder="Tool Name" value="">
        <input type="text" name="toolCo" placeholder="Brand" value="">
        <input type="text" name="toolModel" placeholder="Model" value="">
        <button class="btn" type="submit">Update</button>
        <a href="/{{newToolId}}"><button class="btn">Back</button></a>"
        <form action="/{{newToolId}}?_method=DELETE" method="POST">
            <button class="btn" type="submit">Delete</button>
        </form>
    </form>
</div>