<div>
    <h1>Add New Tool</h1>
    <form action="/users" method="POST">
        <input type="text" name="toolName" placeholder="Tool Name" value="">
        <input type="text" name="toolCo" placeholder="Brand" value="">
        <input type="text" name="toolModel" placeholder="Model" value="">
        <input type="text" name="checkOut" placeholder="Time Stamp" value="">
        <button type="submit">Create</button>
    </form>
</div>