body {
    height: vh;
    width: vw;
}

li {
    margin: auto 50px;
    font-size: 20px;
}

.body {
     background-image: url("https://i.imgur.com/kOJs2m6.jpg");
}
.nav-wrapper {

    background-color: green;
}

.card-action.btn {
    display: inline;
    margin: 20 px;
}