body {
    height: vh;
    /* background-image: url(https://i.imgur.com/paq7hGy.jpg); */
    background-image: url(https://i.imgur.com/zdxKla9.png?1);
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Cardo', serif;
    font-size: 20px;
}

li {
    margin: auto 50px;
    font-size: 30px;
}

.body {
     background-color: rgba(0, 0, 0, 0.4);
     z-index: -1;
}
.nav-wrapper {
    font-family: 'Cardo', serif;
    background-color: green;
}

.card-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px !important;
}

.card-action {
    height: 60px;
}

.card-action.btn {
    display: inline;
    margin: 20 px;
}

div.notes-buttons {
    display: flexbox;
    flex-direction: column;
}
.actionBar {
    display: flexbox;
    flex-direction: column;
    justify-content: flex-start;
    height: 100px;
    margin: 20px 10px;
}

.toolBtn {
    margin: 5px 0;
}


#toolTracker {
    margin: auto 50px;
}

