body {
    height: vh;
    width: vw;
}

.body {
     background-image: url("https://i.imgur.com/kOJs2m6.jpg");
}
.nav-wrapper {

    background-color: green;
}

.card-action.btn {
    display: inline;
    margin: 20 px;
}