<h1>All Notes</h1>

{{#each showNotes}}
<div class="row">
    <div class="col s16 m6">
        <div class="card green lighten-1">
            <div class="card-content white-text">
                <span class="card-title">Notes</span>
                <p>{{createdAt}}</p>
                <p>{{noteContent}}</p>
            </div>

        </div>
    </div>
</div>
<form action="/{{_id}}?_method=DELETE" method="POST">
    <button class="btn" type="submit">Delete</button>
</form>

{{/each}}