<div>
    <h1>New Note</h1>
    <form action="/{{newNote}}" method="POST">
        <input type="text" name="createdAt" placeholder="Time Created" value="">
        <input type="text" name="noteContent" placeholder="Note" value="">
        <button type="submit">Check Out</button>
    </form>
</div>