<div class="container">
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card green">
                <div class="card-content white-text">
                    <form action="/{{toolNote}}/notes" method="POST">
                        <span class="card-title">New Note</span>
                        <input type="date" name="createdAt" placeholder="Time Created" value="date.now()">
                        <input type="text" name="noteContent" placeholder="Note" value="">
                        <button class="btn green darken-2" type="submit">Post Note</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>