<h1>This is the Users edit page</h1>

{{newsUserId}}
<div>
    <form action="/{{newUserId}}?_method=PATCH" method="POST">
        <input type="text" name="name" placeholder="Name" value="">
        <input type="text" name="department" placeholder="Department" value"">
        <button class="btn" type="submit">Update</button>
        <a href="/{{newUserId}}"><button class="btn">Back</button></a>"
    </form>
</div>