<div class="container">
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card green">
                <div class="card-content white-text">
                    <span class="card-title">Employee Log Update</span>
                    <div>
                        <form action="/{{toolId}}/users/{{userId}}?_method=PATCH" method="POST">
                            <input type="text" name="name" placeholder="Name" value="">
                            <input type="text" name="department" placeholder="Department" value="">
                            <input type="date" name="createdAt" placeholder="Check Out Date" value="Date.now()">
                            <button class="btn green darken-2" type="submit">Update</button>
                        </form>
                        <form action="/{{toolId}}/users/{{userId}}?_method=DELETE" method="POST">
                            <button class="btn green darken-2" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>