{{#each users}}
<div class="row" style="text-align: center; margin: auto; border: 2px solid black;">
    <div class="col s12 m6">
        <div class="card-content white-text">
            <p>{{name}}</p>
            <p>{{department}}</p>
            <p>{{tool}}</p>
        </div>
    </div>