<div>
    <h1>Checkout Tool</h1>
    <form action="/{{toolId}}/users" method="POST">
        <div>
            <input type="text" name="name" placeholder="Name" value="">
            <input type="text" name="department" placeholder="Department" value="">
        </div>
        <div>
            <input type="text" name="createdAt" placeholder="Time Created" value="">
            <input type="text" name="noteContent" placeholder="Note" value="">
        </div>
        <button type="submit">Check Out</button>
    </form>
</div>